﻿@model Business.DomainModel.Restaurant

@{
    ViewBag.Title = "Index";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Name</td>
            <td>@Html.TextBox("Title", Model.Title)</td>
        </tr>
        <tr>
            <td>Phone number</td>
            <td>@Html.TextBox("PhoneNumberText", Model.PhoneNumberText)</td>
        </tr>
    </table>

    <input type="submit" value="Save" />
    
    <div class="message-success">@ViewBag.Message</div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
